# Auto detect text files and perform LF normalization
* text=auto
Assets/Editor/Migration/com.ptc.vuforia.engine-10.18.4.tgz[[:space:]](133.80[[:space:]]MB) filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
